.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Aanand-Pawara/v17/DocumentLayout.json
.vs/Aanand-Pawara/v17/.wsuo
.vs/Aanand-Pawara/FileContentIndex/c2727917-6a83-47a1-ae7a-8364d4548f5b.vsidx
.vs/Aanand-Pawara/FileContentIndex/8eaee53f-c77c-4295-8722-7d11b8c438db.vsidx
.vs/Aanand-Pawara/FileContentIndex/6706ee5a-766e-41f3-aad7-b686f86a5032.vsidx
.vs/Aanand-Pawara/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
.vs/Aanand-Pawara/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/Aanand-Pawara/CopilotIndices/17.12.53.23981/SemanticSymbols.db
.vs/Aanand-Pawara/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
.vs/Aanand-Pawara/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
.vs/Aanand-Pawara/CopilotIndices/17.12.53.23981/CodeChunks.db
.vs/Aanand-Pawara/FileContentIndex/efaee02d-af0f-4e86-956a-7dd94eb15105.vsidx
.vs/Aanand-Pawara/FileContentIndex/ca0dd077-3276-477e-9066-d23b94f93f52.vsidx
*.vsidx
